name: CI

on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: "Tests on ${{matrix.platform}}"
    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{matrix.platform}}
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-deps

      - name: Run Tests
        run: yarn cross-env CI=true yarn jest --coverage --color

      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash) -C $GITHUB_SHA -B ${GITHUB_REF#refs/heads/} -Z
        if: ${{ matrix.platform == 'ubuntu-latest' && always() }}
        env:
          CODECOV_TOKEN: dc4ed93e-11a9-421e-b141-8a2f11913593
  typescript:
    name: TypeScript
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - uses: ./.github/actions/setup-deps

      - name: Check Types
        run: yarn tsc
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - uses: ./.github/actions/setup-deps

      - name: Run ESLint
        run: yarn lint
